# Needleman–Wunsch

In [1]:
%load_ext autoreload
%autoreload 2

import numpy as np
import pandas as pd
from IPython.display import display, Markdown, Latex

In [2]:
import sys
sys.path.insert(0, '..')

## Load Data

In [3]:
from phylo.main import load_snippets_data, load_snippets_md

In [4]:
data = load_snippets_data('mult')
md = load_snippets_md('mult')

## Classy

In [5]:
from phylo.needleman_wunsch import NW

In [6]:
s1 = "hello"
s2 = "hllo"

In [7]:
nw = NW(s1, s2)
nw.solve()

In [8]:
print(nw.aligned_s1)
print(nw.aligned_s2)

hello
h-llo

In [9]:
nw.alignment_table

   0  1  2  3  4
0  h  e  l  l  o
1  h  -  l  l  o

In [10]:
nw.identity_score

('4/5', 0.8)

In [11]:
nw.matrix

                h       e       l       l       o
    [. 0]  [← -1]  [← -2]  [← -3]  [← -4]  [← -5]
h  [↑ -1]   [↖ 1]   [← 0]  [← -1]  [← -2]  [← -3]
l  [↑ -2]   [↑ 0]   [↖ 0]   [↖ 1]   [↖ 0]  [← -1]
l  [↑ -3]  [↑ -1]  [↖ -1]   [↖ 1]   [↖ 2]   [← 1]
o  [↑ -4]  [↑ -2]  [↖ -2]   [↑ 0]   [↑ 1]   [↖ 3]

In [12]:
nw.summary()

           STRINGS
==============================
~~~~~~~~~~
hello
~~~~~~~~~~
hllo

          ALIGNMENT
==============================
hello
h-llo

        IDENTITY SCORE
==============================
4/5
80.0 %

## Functional

In [13]:
from phylo.needleman_wunsch import (
    nw_algo, arr_to_frames, arr_to_table,
    traceback, identity_score
)

In [14]:
s1 = "hello"
s2 = "hllo"

In [15]:
arr = nw_algo(s1, s2)

In [16]:
arr_to_table(arr, s1, s2)

                h       e       l       l       o
    [. 0]  [← -1]  [← -2]  [← -3]  [← -4]  [← -5]
h  [↑ -1]   [↖ 1]   [← 0]  [← -1]  [← -2]  [← -3]
l  [↑ -2]   [↑ 0]   [↖ 0]   [↖ 1]   [↖ 0]  [← -1]
l  [↑ -3]  [↑ -1]  [↖ -1]   [↖ 1]   [↖ 2]   [← 1]
o  [↑ -4]  [↑ -2]  [↖ -2]   [↑ 0]   [↑ 1]   [↖ 3]

In [17]:
a, b = traceback(arr['dir'], s1, s2)

In [18]:
print(a)
print(b)

hello
h-llo

In [19]:
identity_score(a, b)

('4/5', 0.8)